<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/main.css">
    <script src="https://kit.fontawesome.com/aef06486d5.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <img src="../images/foto_portfolio.jpg" alt="Foto de portfolio">
        <ul>
            <li>
                <a href="#about-me">About me</a>
            </li>
            <li>
                <a href="#my-skills">Skills</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </nav>
    
    <main>
        <section >
            <div>
                <img src="../images/code_sleep_repeat.jpeg" alt="A phrase 'Eat, Code, Sleep, Repeat' on a black background">
            </div>
            <h1 id="about-me">About Me</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint labore nesciunt obcaecati enim, aut omnis natus eligendi minus fugit recusandae doloremque, illo eum sit aperiam delectus rem vitae laborum? Quia?</p>
        </section>

        <section class="skills">
            <h1 id="skills">Skills</h1>
            <div class="skills">
                <div class="details">
                  <span>CSS</span>
                  <span>50%</span>
                 </div>
                 <div class="bar">
                   <div id="css-bar"></div>
                 </div>
               </div>
               
               <div class="skills">
                <div class="details">
                  <span>Javascript</span>
                  <span>50%</span>
                </div>
               
                 <div class="bar">
                 <div id="js-bar"></div>
                </div>
               </div>
               
               <div class="skills">
                <div class="details">
                  <span>Python</span>
                  <span>85%</span>
                </div>
                <div class="bar">
                 <div id="python-bar"></div>
                 </div>
               </div>

        </section>

        <section>
            <h1 id="contact">Contact</h1>
            <form action="registered.html">
                <label for="name">Name</label>
                <input id="name" name="name" required type="text" placeholder="Type your name">
                <label for="surname">Surname</label>
                <input id="surname" name="surname" required type="text" placeholder="Type your surname">
                <label for="phone">Phone</label>
                <input type="phone" id="phone" name="phone" pattern="[0-9}+" placeholder="Phone number" required>
                <label for="github">github</label>
                <input id="github" name="github" pattern="@.+" placeholder="With this format" required>

                <fieldset>
                    <legend class="text-forms"><em>How do you know me?</em></legend>
                    <div>
                        <label for="university">University</label>
                        <input class="radio" id="university" name="howWeMet" type="radio" checked>
                    </div>
                    <div>
                        <label for="keepcoding">keepcoding kick-off</label>
                        <input class="radio" id="keepcoding" name="howWeMet" type="radio">
                    </div>
                    <div>
                        <label for="school">School</label>
                        <input class="radio" id="school" name="howWeMet" type="radio">  
                    </div>
                    <div>
                        <label for="github">GitHub</label>
                        <input class="radio" id="github" name="howWeMet" type="radio">
                    </div>
                </fieldset>

                <label for="question">To ask more</label>
                <textarea name="question" id="question" maxlength="180" cols="30" rows="7" placeholder="Max 180 characters"></textarea>
                <input type="submit" name="send" value="Send">
        </section>

    </main>
    <footer>
        <div class="footer">
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
        </div>
    </footer>
</body>
</html>